// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
  list-style: none;
  margin-top: 20px;
  margin-left: 20px;
}

li{
  margin-bottom: 10px;
}
 .tag{
   font-size: 10px;
   color: #888888;
 }
 #current{
   background-color: white;
   border: 1px solid #5F99CF;
   border-bottom: 1px solid white;
   padding-right: 5px;
 }
