// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  font-size: 10px;
  color: #888888;
  padding-left: 33px;
}

.comments a{
  font-weight: bold;
  color: #888888;
}

.comments a:visited{
  font-weight: bold;
  color: #888888;
}

form{
  width: 40%;
  text-align: left;
  display: block;
  margin-left: 10px;
  padding: 20px 0px 20px 10px;
  background-color: #CEE3F8;
}

.submit a{

  float: right;
  text-align: right;
  background-color: #F1F7FD;
  padding: 10px 10px 10px 10px;
  border: 1px solid #C4DBF1;
  font-weight: bold;
  color: #336699;
}

.submit a:visited{
  float: right;
  text-align: right;
  background-color: #F1F7FD;
  padding: 8px 8px 8px 8px;
  border: 1px solid #C4DBF1;
  font-weight: bold;
  color: #336699;
}
