<!DOCTYPE html>
<html>
  <head>
    <title>Freddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class= "top">
        MY SUBREDDITS <a>&#9660</a>
        <a href="/"><span>HOME</span></a>
         - POPULAR - ALL - RANDOM - ASKREDDIT - FUNNY - PICS - WORLDNEWS - VIDEOS - NEWS - TODAYILEARNED - GAMING - MOVIES - GIFS - AWW - MILDLYINTERESTING - SHOWERTHOUGHTS - IAMA - JOKES - TELEVISION - OLD<b> &nbsp EDIT » </b>
      </nav>
      <a href="/">
        <img class= "logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Reddit_logo_and_wordmark.svg/1280px-Reddit_logo_and_wordmark.svg.png" alt="">
      </a>
      <nav class= "logobar"> hot new rising controversial top gilded wiki promoted</nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
